* {
    margin: 0;
    padding: 0;
}

html {
    font-family: 'Open Sans', sans-serif;
    line-height: 1.5;

}

.container {
    max-width: 1080px;
    margin: 0 auto;
}

p, h1, h2, h3, h4, a {
    color: #615f5f;
    text-decoration: none;
}

p {
    padding-bottom: 8px;
}

h4 {
    padding-bottom: 8px;
}

/******************************************************************************
Header Section
******************************************************************************/

.page-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 64px;
    background-color: #311e32;
}

.header-logo {
    display: flex;
    align-items: center;
    height: 32px;
}

.header-logo img {
    padding-left: 24px;
}

.header-logo h3:last-child {
    color: grey;
}

nav ul {
    display: flex;
    list-style: none;
}

nav a:hover {
    color: white;
}

nav a {
    transition: color 0.5s ease-in;
    text-decoration: none;
    color: #bfb0a0;
}

nav li {
    padding-right: 16px;
}


nav ul:last-child {
    padding-right: 24px;

}

.page-header-mobile {
    display: none;
}





/******************************************************************************
 Banner Section
 *****************************************************************************/


.banner {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #dcdcdc;

}


.banner img {
    width: 60%;
    padding: 32px 24px;
}

.banner-text h2 {
    margin-bottom: 1rem;
    font-size: 2.25rem;
}

.banner-text p {
    margin-bottom: 2rem;
}

.banner-button {
    background-color: #989598;
    text-align: center;
    max-width: 300px;
    transition: all 2s linear;
    border-radius: 4px;
}

.banner-button:hover {
    background-color: #311e32;
}

.banner-button p {
    padding: 8px 0;
}

.banner-button a {
    text-decoration: none;
    color: white;
}

/*****************************************************************************
 Main Content Section
 *****************************************************************************/
.main-content {
    display: flex;
}

 .main-left {
    padding: 32px 24px;
 }

 .left {
    width: 60%;
 }

 .main-left img {
    width: 100%;
    margin-bottom: 32px;
 }

 .main-left h2 {
    padding-bottom: 1rem;
 }

 .main-left p:last-child {
    padding: 32px 0;
 }

 .infos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-left: 1px solid grey;
 }

 .right {
    width: 40%;
 }

 .content-block {
    display: flex;
    align-items: center;
    padding: 16px;
    transition: background-color 2s linear;
 }

 .info-image {
    width: 35%;
    height: auto;

}

.mobile {
    display: none;
}

 .campus {
    border-top: 1px solid grey;
    border-bottom: 1px solid grey;
 }

 .content-block:hover {
    background-color: #311e32;
 }

 .content-block-text {
    padding: 16px 0 24px 16px;
 }

 .content-block-text a {
    text-decoration: none;
    color: #8787f5;
 }


/*****************************************************************************
  Learning Section
*******************************************************************************/

.learning {
    background-color: #dcdcdc;
    padding: 32px 24px;

}

.learning-blocks {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 32px 72px;
}

.learning-block {
    border-radius: 10px;
    margin: 0px 2% 3% 0px;
    background: white;
    width: 31%;
    transition: background-color 2s linear;
}

.learning-block:hover {
    background-color: #311e32;
}

.learning-block img {
    width: 100%;
    height: auto;
}


.learning-block-text {
    padding: 16px 0 32px 16px;
}

.learning-block-text p:nth-of-type(1) {
    font-weight: 100;
    text-transform: uppercase;
}

.learning-block-text-mobile {
    display: none;
}

.learning-headline {
    text-align: center;
}

/*******************************************************************************
  Thesis Section
********************************************************************************/

.thesis {

    display: flex;
    flex-direction: column;
    padding: 32px 24px;
}

.thesis-flex {
    display: flex;
    justify-content: center;
}

.thesis-left-col {
    width: 60%;
}

.thesis-left-col video {
    width: 100%;
}

.thesis-right-col {
    width: 40%;
    display: flex;
    flex-direction: column;
    margin-left: 24px;
}

.thesis-knowledge-square {
    height: auto;
    display: flex;
    align-items: center;
    transition: all 2s linear;
}

.thesis-knowledge-square img {
    width: 35%;
    height: auto;
    padding: 16px;

}

.thesis-knowledge-square:hover {
    background-color: #311e32;
}

.thesis-headline {
    margin-bottom: 32px;
    text-align: center;
}

/******************************************************************************
Page Footer
*******************************************************************************/

.page-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 64px;
    padding: 16px 24px;
    border-top: solid 1px grey;
}

/*******************************************************************************
Mobile Display
********************************************************************************/

@media only screen and (max-width:624px) {

    .flex-container {
        padding: 0;
    }

    .page-header {
        display: none;
    }

    .page-header-mobile {
        display: flex;
        justify-content: space-around;
        align-items: center;
        height: 64px;
        background-color: #311e32;
    }

    .banner {
        flex-direction: column;
    }

    .banner img {
        width: 100%;
        margin-bottom: 32px;
        padding: 0;
    }

    .banner-text {
        width: 100%;
        margin: 0;
        text-align: center;

    }

    .banner-button {
        max-width: none;
    }

    .main-left {
        display: none;
    }

    .infos {
        width: 100%;
    }

    .content-block {
        flex-direction: column;
    }

    .campus {
        border: none;
    }

    .info-image {
        width: 100%
    }

    .mobile {
        display: block;
    }

    .desktop {
        display: none;
    }
    .learning-blocks {
        flex-wrap: nowrap;
        flex-direction: column;
    }


    .learning-block {
        width: 100%;
        margin-bottom: 8px;

    }


    .learning-block-text {
        padding: 16px 0 24px 16px;
    }

    .learning-block img  {
        display: none;
    }

    .learning-block-text p {
      display: none;
    }

    .thesis-right-col {
        display: none;
    }

    .thesis-left-col {
        width: 100%;
    }

    .page-footer li {
      display: none;
    }


}
